<H1>TP2 - site d'articles</H1>

<form class="grid-form">
  <section class="add-link">Add a link
<div>
  <label for="title" >Title:</label><input name="title" placeholder="my title" #newTitle>
</div>
<div>
  <label for="link">Link:</label><input name="link" placeholder="my link" #newLink>
</div>
<button (click)="addArticle(newTitle,newLink)">Submit link</button>
</section>
<section class="delete-link">Delete by name
  <div>
    <label for="titleDel" >Title:</label><input name="titleDel" placeholder="my title to delete" #TitleToDelete>
  </div>
  <button (click)="deleteArticle(TitleToDelete)">Delete article by name</button>
  <button (click)="reset()">Reset page</button>
</section>
</form>

<!-- <app-article *ngFor="let article of articles" [article]="article"></app-article> -->
<!-- (click)="removeArticle(article)" -->

<!-- <app-article *ngFor="let article of sortedArticles()" [article]="article" (remove)="handleArticleRemoval($event)"></app-article> -->



<section class="articles">
  
<app-article *ngFor="let article of articles" [article]="article" (remove)=" handleArticleRemoval($event)">{{article}}</app-article>
</section>
<!-- <app-article *ngFor="let article of articlesParent " [articleChild]="article"></app-article> -->