<H1>TP5 - site d'articles</H1>

<form class="grid-form">
  <section class="add-link">Add a link
<div>
  <label for="title" >Title:</label><input name="title" placeholder="my title" #newTitle>
</div>
<div>
  <label for="link">Link:</label><input name="link" placeholder="my link" #newLink>
</div>
<button (click)="addArticle(newTitle,newLink)">Submit link</button>
</section>
<section class="delete-link">Delete by id
  <div>
    <label for="titleDel" >ID article: </label><input name="titleDel" placeholder="my article to delete by id" #idToDelete>
  </div>
  <button (click)="deleteArticle(idToDelete)">Delete article by id</button>

</section>
</form>

<section class="articles">
<!-- dans $event on récupère l'id de l'article en cours -->
<app-article 
*ngFor="let article of articles" [article]="article" 
(remove)=" handleArticleRemoval($event)">
{{article}} id: {{article.id}}</app-article>
</section>
