body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    background-color: #f4f4f4;
  }

  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    
  }
  
  input {
    background-color: #ccc;
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  h1{
    height: 50px;
    justify-content: center;
    text-align: center;
    background-color: honeydew;
    border-radius: 20px;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
}

.add-section, .delete-section {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* section de chaque article */
.articles {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  border-radius: 20px;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
  }

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
  }
  .app-home-page{
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */}
